<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Enter the password to download the File</h1>
    <% if(locals.err) { %>
        <div style="color: red; margin-bottom: 2rem; text-align:center;">
            Incorrect password
        </div>
        <%   } %>
    <form  method="post" style="display: grid; gap:0.5rem; grid-template-columns:auto 1fr; max-width: 500px; margin: 0 auto;" >
        <label for="password">password:</label>
        <input type="password" id="password" name="password"  required/>
        <button style="grid-column:span 2; padding: 3px 6px;" >download</button>
    </form>
</body>
</html>